body{
  margin: 0;
font-family: 'Merriweather', serif;
text-align: center;
}


.top-container{
  background-color: powderblue;
 text-align: center;
 position: relative;

}
.bottom-cloud{
position: absolute;

}
.top-cloud{
  position: relative;
  left: 200px;
  top: 50px
}

h1{
  font-family: 'Sacramento', cursive;
  font-size: 80px;
}

h2{
  font-family: 'Sacramento', cursive;
  font-size: 40px;
}
